{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>frontend</title>
    {% block css %}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
            crossorigin="anonymous" />
    {% endblock %}
  </head>
  <body>
    {% include 'components/top-panel.html' %}

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    {% block js %}
      {% render_bundle 'manifest' %}
      {% render_bundle 'vendor' %}
    {% endblock js %}
  </body>
</html>
