{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'django-icon.png' %}" type="image/png" />
    <title>Django + Vue integration</title>
    {% block css %}
      {% if debug %}
        <link rel="stylesheet"
              href="{% static 'vendor/bootstrap.css' %}" />
      {% else %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
              crossorigin="anonymous" />
      {% endif %}
      {% render_bundle 'vendor' 'css' %}
    {% endblock %}
  </head>
  <body>
    {% include 'components/top-panel.html' %}

    <div class="container">
      {% block content %}
        <p>This content block is empty...</p>
      {% endblock content %}
    </div>

    {% block js %}
      {% render_bundle 'vendor' 'js' %}
    {% endblock js %}
  </body>
</html>
